.whatwedo {
    display: block;
    width: 1600px;
    height: 386px;

}



.wwdheading {
    display: flex;
    width: 1600px;
    margin-top: 94px;
    padding-left: 612px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
}

.wwd-items {
    display: inline-flex;
    width: 1170px;
    height: 294px;
    padding-top: 50px;
    justify-content: space-between;
    margin-left: 215px;
}

.wwd-img-list {
    position: relative;
}


.wwd-text-ove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#fff;
    

}