.site-logo {
    text-decoration: none;
    margin-left: 215px;
    margin-top: 24px;
    margin-bottom: 25px;
    
    &-text {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-size: 26px;   
    }

    

}

